// Settings
@import "../../../../public/lib/px-colors-design/_settings.colors.scss";

// Tools

// Generic
@import "../../../../public/lib/px-normalize-design/_generic.normalize.scss";
@import "../../../../public/lib/px-box-sizing-design/_generic.box-sizing.scss";
@import "../../../../public/lib/px-helpers-design/_generic.helpers.scss";

// Base
@import "../../../../public/lib/px-flexbox-design/_base.flexbox.scss";
@import "../../../../public/lib/px-viewport-design/_base.viewport.scss";
@import "../../../../public/lib/px-forms-design/_base.forms.scss";

// Meta

// Objects
$inuit-enable-layout--flush : true;
$inuit-enable-layout--full : true;
@import "../../../../public/lib/px-layout-design/_objects.layout.scss";
@import "../../../../public/lib/px-button-group-design/_objects.button-group.scss";
$inuit-enable-btn--full : true;
@import "../../../../public/lib/px-buttons-design/_objects.buttons.scss";

// Components
// We should be safe from about zoom level 80% - 110%

#BRANDING_BAR{
  position: absolute;
  width: 100%;
}

#LEFT_SIDEBAR{
  position: absolute;
  width: 18%;
  top: 2em;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid black;
}

#PREDIX_TREE{
  background: #2c404c;
  color: white;
  font-family: "GE Inspira Sans",sans-serif;
  height: 100%;
}

#STEPS{
  position: absolute;
  height: 10%;
  width: 64%;
  top: 2em;
  left: 18%;
}

#MAP_MARKERS{
  position: absolute;
  height: 85%;
  width: 64%;
  top: 6em;
  left: 18%;
  border-top: 1px solid black;
}

/*
#MAP_BOX{
  position: absolute;
  height: 100%;
  width: 64%;
  top: 6em;
  left: 18%;
  background: #2c404c;
}
*/

.rightSidebar{
  position: absolute;
  width: 18%;
  top: 2em;
  right: 0;
  height: 100%;
  overflow-y: scroll;
  border-left: 1px solid black;
}

/*
px-accordion{
  width: 500;
}
*/


/*

#TREE{
  background: #2c404c;
  color: white;
  font-family: "GE Inspira Sans",sans-serif;
  border-right: 1px solid black; 
  height: 100%;
  top: 90px;
  overflow-y: auto;
  position: fixed;
  width: 16.65vw;
  border-top: 1px solid black;
}

#searchAndButtonsAndTree{
  border-right: 1px solid black;
}
*/

/*
#tree{
  background: #2c404c;
  height: 100%
}

.tree{
  background: #2c404c;
  color: white;
  font-family: "GE Inspira Sans",sans-serif;
  height: 100%;
  position:fixed;
  padding-top:12.5vh;
  width: 17.5vw;
}
*/

/*
#MAP_MARKERS{
  border-top: 1px solid black;
  bottom: 0;
  position: fixed;
  top:14.2vh;
  width:83.5%;
}

#info{
  display: block;
  font-size:24px;
  margin:auto;
  width: 0;
}

.popup{
  height: 175px;
  width: 175px;
}

.steps{
  background: white;
  width:83vw;
  // border-right: 1px solid black; 
}
*/

/*----------Right side detailed info----------*/
/*
.rightSidebar{
  background: white;
  border-left: 1px solid black; 
  bottom: 0;
  display: none;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top:4.7vh;
  display: none;
  width:20%;
  z-index: 7;
}
*/

/*
.sidebarBlock{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

px-accordion{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

textarea {
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: sans-serif;
  height: 150px;
  padding: 12px 20px;
  resize: none;
  width: 100%;
}
*/

// Trumps
@import "../../../../public/lib/px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "../../../../public/lib/px-widths-responsive-design/_trumps.widths-responsive.scss";
@import "../../../../public/lib/px-widths-design/_trumps.widths.scss";