// Settings
@import "../../../../public/lib/px-colors-design/_settings.colors.scss";

// Tools

// Generic
@import "../../../../public/lib/px-normalize-design/_generic.normalize.scss";
@import "../../../../public/lib/px-box-sizing-design/_generic.box-sizing.scss";
@import "../../../../public/lib/px-helpers-design/_generic.helpers.scss";

// Base
@import "../../../../public/lib/px-flexbox-design/_base.flexbox.scss";
@import "../../../../public/lib/px-viewport-design/_base.viewport.scss";
@import "../../../../public/lib/px-forms-design/_base.forms.scss";

// Meta

// Objects
$inuit-enable-layout--flush : true;
$inuit-enable-layout--full : true;
@import "../../../../public/lib/px-layout-design/_objects.layout.scss";
@import "../../../../public/lib/px-button-group-design/_objects.button-group.scss";
$inuit-enable-btn--full : true;
@import "../../../../public/lib/px-buttons-design/_objects.buttons.scss";

// Component
// Your css goes in here

#BRANDING_BAR{
    position: absolute;
    height: 4.75%;
    width: 100%;
}
#LEFT_SIDEBAR{
    position: absolute;
    width: 20%;
    top: 4.75%;
}
#MAP_MARKERS{
    position: absolute;
    height: 95.25%;
    width: 80%;
    top: 4.75%;
    left: 20%;
}

// Trumps
@import "../../../../public/lib/px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "../../../../public/lib/px-widths-responsive-design/_trumps.widths-responsive.scss";
@import "../../../../public/lib/px-widths-design/_trumps.widths.scss";