// Settings
@import "../../../../public/lib/px-colors-design/_settings.colors.scss";

// Tools

// Generic
@import "../../../../public/lib/px-normalize-design/_generic.normalize.scss";
@import "../../../../public/lib/px-box-sizing-design/_generic.box-sizing.scss";
@import "../../../../public/lib/px-helpers-design/_generic.helpers.scss";

// Base
@import "../../../../public/lib/px-flexbox-design/_base.flexbox.scss";
@import "../../../../public/lib/px-viewport-design/_base.viewport.scss";
$inuit-enable-input--regular : true;
@import "../../../../public/lib/px-forms-design/_base.forms.scss";

// Meta


// Objects
$inuit-enable-layout--flush : true;
$inuit-enable-layout--full : true;
@import "../../../../public/lib/px-layout-design/_objects.layout.scss";
@import "../../../../public/lib/px-button-group-design/_objects.button-group.scss";
$inuit-enable-btn--full : true;
$inuit-enable-btn--large : true;
@import "../../../../public/lib/px-buttons-design/_objects.buttons.scss";

// Components
// We should be safe from about zoom level 80% - 110%

// ----------Steps Component----------
#STEPS{
  border-bottom:none;
  height: 60px;
  padding-top: 1vh;
  position: absolute;
  right: 0;
  top: 30px;
}

// ----------Left Side Menu----------
#leftMenu{
  background: $gray15;
  border-right: 1px solid black;
  height: calc(100vh - 30px);
  left: 0;
  overflow-y: auto;
  position: absolute;
  top: 30px;
}

#pxtree{
  color: white;
  font-family: "GE Inspira Sans",sans-serif;
}


// ----------Map----------
#MAP_MARKERS{
  border-top: 1px solid black;
  height: calc(100vh - 90px);
  position: absolute;
  right: 0;
  top: 90px;
  z-index: 4;
}

#markerInfo{
  cursor: pointer; /* Pointer/hand icon */
  display: block;
  margin-left: 47.5%;
}

// ----------Right Sidebar----------
.detailedInfo{
  background: $gray15;
  border-left: 1px solid black;
  display: block;
  height: calc(100vh - 30px);
  overflow: auto;
  position: fixed;
  right: 0;
  top: 30px;
}

.iron-icon-1{
  z-index: 2;
}

.detailedInfo h2{
  background: rgba(136,154,165,.15);
  color: white;
  font-family: "GE Inspira Sans",sans-serif;
  text-align: center;
  text-decoration: underline;
}

.detailedInfo span{
 color: white;
 font-family: "GE Inspira Sans",sans-serif;
}

.detailedInfo text{
 color: white;
 font-family: "GE Inspira Sans",sans-serif;
}

.px-accordion-0 .heading--subsection.px-accordion{
  color: white;
  font-family: "GE Inspira Sans",sans-serif;
  font-weight:bold;
}

#submitbutton button{
  background-color: var(--px-btn-background, #d8e0e5);
  border: 1px solid black; /* Green border */
  color: var(--px-btn-color, #2c404c);
  cursor: pointer; /* Pointer/hand icon */
  display: block;
  margin: 0 auto; 
  padding: 10px 24px; /* Some padding */
}

.closebutton{
  background-color: var(--px-btn-background, #d8e0e5);
  bottom:0;
  right: 0;
  cursor: pointer; /* Pointer/hand icon */
  display: block;
  position: fixed;
  height: 30px;
  width: inherit;
  min-width:0;
  z-index: 3;
}

.detailedInfo px-accordion{
  font-family: "GE Inspira Sans",sans-serif;
}

.px-accordion-0 .accordion__header[disabled].px-accordion{
  cursor: default;
}

#closeright{
  margin: 0 auto;
}

// ----------Body Styling----------
body::-webkit-scrollbar { 
  display: none; 
}

::-webkit-input-placeholder {
 color: $neutral-gray10 !important;
 text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
 color: $neutral-gray10 !important;  
 text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: $neutral-gray10 !important;  
 text-align: center;
}

:-ms-input-placeholder {  
 color: $neutral-gray10 !important; 
 text-align: center;
}

//Spinner
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid $gray15;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


// Trumps
@import "../../../../public/lib/px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "../../../../public/lib/px-widths-responsive-design/_trumps.widths-responsive.scss";
@import "../../../../public/lib/px-widths-design/_trumps.widths.scss";