<px-branding-bar application-title="GE Shipment Tracker"></px-branding-bar>

<div class="layout">
    <div class="layout__item">
      <div class="tree">
        <!-- implement the search bar -->
        <input class="search" type="text" id="myInput" onkeyup="searchCustomers()" placeholder="Search Customer">
        <!-- implement the buttons Active, Inactive, All -->
        <div class="btn-group" >
          <button for="id1" class="btn" onclick="getItemData()">Active</button>
          <button for="id2" class="btn" onclick="pxTree()">Inactive</button>
          <button for="id2" class="btn" onclick="pxTree()">All</button>
        </div>
      </div>
        <!-- implement customer listings using predix tree -->
        <div id="SOURCE" style="display:none;">
          {{vm.customers}}
        </div>
    </div>
    <div class="layout__item">
      <div class="steps" id="STEPS">
        <px-steps
          items='[
          {
            "id":"1",
            "label":"(FROM)"
          },
          {
            "id":"2",
            "label":"(CURRENT)"
          },
          {
            "id":"3",
            "label":"(TO)"
          }
          ]'
          completed='["1","2"]'>
        </px-steps>
      </div>
    </div>
    <div class="layout__item">
                      <div class="rightSidebar" id="hide">  
                  <div class="sidebarBlock">
                    <px-accordion
                      icons='{"more":"px-utl:chevron-right","less":"px-utl:chevron","action":"px-utl:edit"}'
                      header-value="Customer Information"
                      status="">
                        <div id="CUSTOMER_INFO">
                          <strong>Name: </strong>{{vm.customers[0].name}}<br />
                          <strong>Email: </strong>{{vm.customers[0].email}}<br />
                          <strong>Phone: </strong>{{vm.customers[0].phone}}<br />
                          <strong>Address: </strong>{{vm.customers[0].address}}<br />
                        </div>
                    </px-accordion>
                  </div>
                  <div class="sidebarBlock">
                    <px-accordion
                      icons='{"more":"px-utl:chevron-right","less":"px-utl:chevron","action":"px-utl:edit"}'
                      header-value="Shipping Details"
                      status="">
                      <div id="SHIPPING_DETAILS">
                        <strong>Tracking Number: </strong>
                              <text>{{vm.customers[0].orders[0].shipments[0].id}}</text><br />
                        <strong>Carrier: </strong>
                              {{vm.customers[0].orders[0].shipments[0].carrier}}<br />
                        <strong>Destination: </strong><br />
                              <text>Latitude: {{vm.customers[0].orders[0].shipments[0].destination.latitude}}</text><br />
                              <text>Longitude: {{vm.customers[0].orders[0].shipments[0].destination.latitude}}</text><br />
                        <strong>Current Location: </strong><br />
                              <text>Latitude: {{vm.customers[0].orders[0].shipments[0].current_location.latitude}}</text><br />
                              <text>Longitude: {{vm.customers[0].orders[0].shipments[0].current_location.longitude}}</text><br />
                        <strong>Shipped: </strong>
                              {{vm.customers[0].orders[0].shipments[0].ship_date}}<br />
                        <strong>Expected Arrival: </strong>
                              {{vm.customers[0].orders[0].shipments[0].expected_date}}<br />
                        <strong>Status: </strong><strong>what is this?</strong><br />
                    </div>
                    </px-accordion>

                  </div>
                  <div class="sidebarBlock">
                    <px-accordion
                      icons='{"more":"px-utl:chevron-right","less":"px-utl:chevron","action":"px-utl:edit"}'
                      header-value="Package Details"
                      status="">
                      <div id="PACKAGE_COMMENTS">
                        <strong>Order Placed (Id): </strong>
                              {{vm.customers[0].orders[0].shipments[0].ship_date}}<br />
                        <strong>Shipment Contents: </strong><br />
                              <text ng-repeat="content in vm.customers[0].orders[0].shipments[0].contents">
                                {{content}}<br /></text><br />
                        <strong>Description: </strong><br />
                              {{vm.customers[0].about}}<br />
                      </div>
                    </px-accordion>

                  </div>
                  <div class="sidebarBlock">
                    <px-accordion
                      icons='{"more":"px-utl:chevron-right","less":"px-utl:chevron","action":"px-utl:edit"}'
                      header-value="Package Comments"
                      status="" 
                      disabled show-action>
                    </px-accordion>
                  </div>
                  <form class="form-horizontal">
                    <textarea class="form-control" rows="3" placeholder="Enter comment here"></textarea>
                  </form> 
                </div>
  </div>
</div>

<div class="layout">
    <div class="layout__item">
                <div id="TREE">
            <px-tree
          keys='{"id":"id","label":"label","children":"children","Shipments":"shipments"}'
           items='[
           {
            "label":"No Customers Selected",
            "id":"branch-0-3",
            "isSelectable": false
           }
           ]'
          multi-activate>
          </px-tree>
        </div>
    </div>
    <div class="layout__item">
            <div class="map" id="MAP_MARKERS">
        <google-map zoom="2" fit-to-markers api-key="AIzaSyDIwsEgFNLvamPKR96RMJzlwTuxBHh3xj0">
        <google-map-marker latitude="29.6516" longitude="-82.3248" draggable="true">
          <div class="popup">
            <img src="image.png">
            <h1>test1</h1>
            <p> a lot of words in order to test whether the size of the window will increase.</p>
            <i class="fa fa-info-circle" id="info" onclick="myFunction()"></i> 
          </div>
        </google-map-marker>
      </google-map>
      </div>
    </div>
</div>

<!--Predix Import Links-->
<link rel="import" href="../../../../../lib/px-branding-bar/px-branding-bar.html"/>
<link rel="import" href="../../../../../lib/px-steps/px-steps.html" />
<link rel="import" href="../../../../../lib/px-accordion/px-accordion.html" />
<link rel="import" href="../../../../../lib/px-tree/px-tree.html"/>

<!--Google Maps Scripts and Links-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../../../../../lib/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="../../../../../lib/google-map/google-map.html" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>