@import "/lib/main.css";
.map{
    bottom: 0;
    width: 100%;
    height: 96.9vh;
    position: fixed;
    z-index: 0;
}
.layout{
    padding-left: 1rem;
}

.layout .layout__item{
    float:left;
    padding-left: 0;
    height: 96.9vh;
}

.tracking{
    background: white;
    height:3em !important;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.rightSidebar{
    background: white;
    border-left: 2px solid black;
    display:none;
    float:right !important;
    z-index: 1;
}

.leftCustomerBar{
    background: #2c404c;
    color: white;
    z-index: 1;
}

#info{
  display: block;
  font-size:24px;
  margin:auto;
  width: 0;
}

.popup{
  width: 175px;
  height: 175px;
}


.btn{
    width:32%;
}

.search{
    background-color: #2c404c;
    border-bottom: 2px solid black;
    color:white;
    font-family: "GE Inspira Sans",sans-serif;
    text-align: center;
    width: 100%;
}

textarea {
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: sans-serif;
  height: 150px;
  padding: 12px 20px;
  resize: none;
  width: 100%;
}